body {
    background: #000;
}

.header-card {
    border-radius: 8px;
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #242322, #111011) border-box !important;
    mask:
        linear-gradient(#000 0 0) padding-box,
        linear-gradient(#000 0 0);
        /* mask-composite: exclude; */
}

.header-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(141.64deg, rgba(255, 255, 255, 0.05) -1.76%, rgba(255, 255, 255, 0.0185) 134.33%) !important;
    border-radius: 8px;
    /* z-index: -1; */
}

.gradient-line {
    background: linear-gradient(90deg, #F46E00 27.43%, rgba(244, 110, 0, 0) 62.94%) !important;
}

.auto-pilot-card:hover .gradient-line {
    background-color: linear-gradient(90deg, #FFFFFF 27.43%, rgba(255, 255, 255, 0) 62.94%) !important;
}