body {
    background: white;
}

.header-card {
    border-radius: 8px;
    border: 2px solid transparent;
    border: linear-gradient(180deg, #242322, #111011) border-box !important;
    mask:
        linear-gradient(#000 0 0) padding-box,
        linear-gradient(#000 0 0);
}

.header-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(141.64deg, rgba(255, 255, 255, 0.05) -1.76%, rgba(255, 255, 255, 0.0185) 134.33%) !important;
    border-radius: 8px;
    z-index: -1;
}