body {
    background: #FFFFFF;
}

.header-card {
    /* border-radius: 8px;
    position: relative;
    border: 2px solid transparent;
    background: linear-gradient(180deg, #242322, #111011) border-box !important;
    mask:
        linear-gradient(#000 0 0) padding-box,
        linear-gradient(#000 0 0);
        mask-composite: exclude; */
    border: 2px solid !important;
    border-radius: 8px;
    border: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 37.68%, rgba(255, 255, 255, 0) 100%) !important;
}

/* .header-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(141.64deg, rgba(255, 255, 255, 0.05) -1.76%, rgba(255, 255, 255, 0.0185) 134.33%) !important;
    border-radius: 8px;
    z-index: -1;
} */

.gradient-line {
    background: linear-gradient(90deg, #F46E00 27.43%, rgba(244, 110, 0, 0) 62.94%) !important;
}

.auto-pilot-card:hover .gradient-line {
    background-color: linear-gradient(90deg, #FFFFFF 27.43%, rgba(255, 255, 255, 0) 62.94%) !important;
}

.auto-pilot-card {
    /* background-color: #1a1a1a; */
    /* padding: 20px; */
    border-radius: 8px;
    position: relative;
    transition: 0.3s linear !important;
}

.gradient-line {
    height: 8px;
    background: linear-gradient(90deg, #F46E00 27.43%, rgba(244, 110, 0, 0) 62.94%) !important;
    transition: 0.3s linear !important;
}

.auto-pilot-card:hover .gradient-line {
    background: linear-gradient(90deg, #FFFFFF 27.43%, rgba(255, 255, 255, 0) 62.94%) !important;
}

.book-btn {
    background-color: #0367fd !important;
    color: white !important;
    text-decoration: none !important;
    position: relative !important;
    clip-path: polygon(10px 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0% 10px) !important;
    transition: background-color 0.3s ease !important;
}

.book-btn-2 {
    background-color: #090e1c !important;
    color: white !important;
    text-decoration: none !important;
    position: relative !important;
    clip-path: polygon(10px 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0% 10px) !important;
    transition: background-color 0.3s ease !important;
}